<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <title>VueApp</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ fullName }}</h1>
      <input v-model="firstName" />
      <input v-model="lastName"  />
    </div>
    
    <script>
let app = new Vue({
  el: '#app',
  data: {
    firstName: 'John',
    lastName: 'Doe',
    fullName: 'John Doe'
  },
  watch: {
    firstName: function(val) {
      this.fullName = val + ' ' + this.lastName
    },
    lastName: function(val) {
      this.fullName = this.firstName + ' ' + val;
    }
  }
})
    </script>
  </body>
</html>
